p {
	color: red;
	font-size-adjust: 7;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: darksalmon;
	padding: 1em;
	margin: 1em;
	border-radius: 20px;
}
body {
	background: url(../assetz/mac2.jpg);
	background-size: cover;
	margin: 0;
	padding: 0;
}
body.win3 {
	background: url(../assetz/win3.jpg);
}
p#hewan {
	color: darksalmon;
	font-size-adjust: 1;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: khaki;
}
